@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --color-background: #08080a;
  --color-surface: #000000;
  --color-surface-card: #121214;

  --color-search-bg: #5f5a5a25;
  --color-search-bg-hover: #2a2a2a84;
  --color-search-bg-focus: #090911;

  --color-search-placeholder: #a1a1aa;
  --color-search-icon: #e4e4e7;
  --color-search-border: #3f3f46;
  --color-search-border-focus: #fafafa;
  --color-search-text-focus: #ffffff;

  --color-border: #222226;
  --color-border-muted: #141417;

  --color-text-bright: #e2dbdb;
  --color-text-muted: #b1b1b1;
  --color-text-dim: #e3dadadb;

  --tracking-widest: 0.25em;
  --tracking-wider: 0.18em;
}

:root {
  --background: #08080a;
  --text-bright: #e2dbdb;
}

body {
  background-color: var(--background);
  color: var(--text-bright);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  /* Ensures smooth transition for the whole page if necessary */
  scroll-behavior: smooth;
}
